table {
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .table-body {
    height: 136px;
    max-height: 200px;
    overflow-y: auto;
    display: block;
  }
  